.card-img-top {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px auto;
}
.row {
    gap: 20px;
}
.navbar-custom {
    background-color: #fbbc05;
}

body {
    background-image: url('../assets/image/fondoFav.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
